@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<div class="rounded bg-light m-2 mt-4 border-dark">


    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center mt-3">
            <h3>@Model.Title - @Model.Author (@Model.Isbn)</h3>
        </div>



        <div class="d-flex justify-content-center row">

            <div class="col-3">
                <p>
                    Classification: @Model.Classification
                </p>
                <p>
                    Publisher: @Model.Publisher
                </p>
                <p>
                    Category:  @Model.Category
                </p>
            </div>
            <div>
                <p>
                    Page Count: @Model.PageCount
                </p>
                <p>
                    Price: $@Model.Price
                </p>
            </div>
        </div>
        <form class="d-flex justify-content-center m-2" method="post" asp-page="/Cart">
            <input type="hidden" asp-for="@Model.Isbn" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text">
                <button type="submit" class="btn btn-success float-end">Add To cart</button>
            </span>
        </form>


    </div>
</div>