@page "/admin/allbooks"
@page "/admin"
@inherits OwningComponentBase<IBookRepository>


<h3>All Books in Database</h3>

<table class="table table-sm table-striped table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th colspan="1">Book ID</th>
            <th colspan="6">Title</th>
            <th colspan="5">Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Books?.Count() > 0)
        {
            //List books
            @foreach (Book b in Books)
            {
                <tr>
                    <td colspan="1">@b.BookId</td>
                    <td title="@b.Author     $@b.Price" colspan="6">@b.Title</td>


                    <td>
                        <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BookId)">Details</NavLink>
                    </td>

                    <td>
                        <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BookId)">Edit</NavLink>

                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBook(b))">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Books</td>
            </tr>
        }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="/admin/create">Create</NavLink>
@code {
    public IBookRepository repo => Service;

    public IEnumerable<Book> Books { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        Books = await repo.Books.ToListAsync();
    }

    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/projects/edit/{id}";
    public async Task RemoveBook(Book b)
    {
        repo.DeleteBook(b);
        await UpdateData();
    }

}