@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel




<table class="table table-responsive-lg table-bordered table-hover table-striped table-dark">

    <thead>
        <tr>


            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Page Count</th>
            <th>Price</th>
            
        </tr>
    </thead>

    @foreach (Book book in Model.Books)
    {
<tr>
    <td>@book.BookId</td>
    <td>@book.Title</td>
    <td>@book.Author</td>
    <td>@book.Publisher</td>
    <td>@book.Isbn</td>
    <td>@book.Classification</td>
    <td>@book.Category</td>
    <td>@book.PageCount</td>
    <td>@book.Price</td>
</tr>

    }
</table>
<div page-model="@Model.PageInfo" page-action="Index"></div>