@page
@model Mission7.Pages.CartModel
@{

    //This page loads all iinformation that has been added
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container bg-light">


        <h2>Your cart:</h2>

        <table class="table table-responsive-lg table-bordered table-hover table-striped table-dark">

            <thead>
                <tr>


                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Remove</th>


                </tr>
            </thead>

            @foreach (var book in Model.Cart.Items)
            {
                <tr>
                    <td>@book.Book.Title</td>
                    <td>@book.Quantity</td>
                    <td>@book.Cost</td>
                    <td>@(book.Quantity * book.Cost)</td>
                    <td class="text-center">
                        <form method="post" asp-page-handler="Remove">
                            <input type="hidden" name="BookId" value="@book.Book.BookId" />
                            <input type="hidden" name="returnURL" value="@Model.ReturnURL">
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>

            }


        </table>


        <div class="d-flex m-auto justify-content-center">
            <h4>Total: @Model.Cart.CalculateSubTotal().ToString("c")</h4>
            <br />
            <h4>Books Sold Today: @Model.Cart.CalculateAmountBooks().ToString()</h4>
        </div>

        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="@Model.ReturnURL">Continue Shopping</a>

            <a class="btn m-2 btn-secondary" asp-controller="Checkout" asp-action="Checkout">Continue</a>
        </div>
    </div>
</body>
</html>
