@page
@model Mission7.Pages.CartModel
@{

    //This page loads all iinformation that has been added
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container bg-light">


        <h2>Your cart:</h2>

        <table class="table table-responsive-lg table-bordered table-hover table-striped table-dark">

            <thead>
                <tr>


                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>


                </tr>
            </thead>

            @foreach (var book in Model.cart.Items)
            {
                <tr>
                    <td>@book.Book.Title</td>
                    <td>@book.Quantity</td>
                    <td>@book.Cost</td>
                    <td>@(book.Quantity * book.Cost)</td>
                </tr>

            }


        </table>


        <div class="d-flex m-auto justify-content-center">
            <h4>Total: @Model.cart.CalculateSubTotal().ToString("c")</h4>
            <br />
            <h4>Books Sold Today: @Model.cart.CalculateAmountBooks().ToString()</h4>
        </div>

        <div  class="d-flex justify-content-center">
            <a class="btn btn-primary" href="@Model.ReturnURL">Continue Shopping</a>
        </div>
    </div>
</body>
</html>
